.resCard{
    display: flex;
    flex-direction: column;
    width: 200px;
    height:fit-content;
    background-color: rgba(174, 173, 163, 0.301);
    color:black;
    padding: 4px;
    margin:15px;
    justify-content: center;
    align-items: center;
    
    /* box-shadow: 1px 1px 1px 1px #888888; */
    border-radius: 5px;
    flex-wrap: wrap;
    
}
.resCard:hover{
    box-shadow: 5px 5px 5px 5px #888888;
}


.bodyCard{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    
}
.prodImg{
    width:200px;
    height:200px;
}
.NavBar{
    display: flex;
    width: auto;
    height: 100px;
    background-color: aqua;
    color: black;
    margin: 0px;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.navbtn{
    display: flex;
    justify-content: space-between;
}
.navv{
    display: block;
    justify-content: space-between;
    margin: 10px;
    
}

body{
    padding: 0px;
    margin: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlogo{
    width:150px;
    height:100px;
    border-radius: 5px;
}
.shiCard{
    height: 400px;
    width: 200px;
    background-color: rgba(174, 173, 163, 0.301);
    padding: 4px;
    margin:15px;
    justify-content: center;
    align-items: center;
}
button{
    height: 50px;
    width: 100px;
}
